ul,li{ list-style:none; margin:0; padding:0;}
input{ margin:0; padding:0; outline:none;}
img{ display:block;}
.clearfix{ clear:both;}
body{ background-color:#b8fdd2; margin:0; padding:0;}
.tit{ max-width:1200px; margin:0 auto; margin-top:20px;}
.tit img{ margin:0 auto;}
.con{ width:1200px; height:500px; background-color:#87ffb4; border-radius:10px; margin:0 auto; margin-top:30px;}
.first{ padding-top:10px;}
.load{ position:absolute; z-index:1;}
.load li{ width:100px; line-height:24px; border-bottom:1px solid #e6e6e6; text-align:center; background-color:#b8fdd2; cursor:pointer;}
.nav{ float:left; margin-left:20px; position:relative;}
.nav h1{ font-size:24px; font-weight:normal; font-family:微软雅黑; margin:0; padding:0; cursor:pointer;}
.search{float:right; margin-right:20px; margin-top:4px;}
.search input{ float:left;}
.second{ float:right; margin-right:20px; margin-top:10px; margin-bottom:10px;}
.second input{ width:30px; height:30px; background-image:url(../img/add.png); cursor:pointer; border:none;}
.page li{ float:left; margin-right:5px; cursor:pointer;}
.page{ width:200px; margin:0 auto; margin-top:10px;}
#name,#tuichu{transform:translate(1016px);display:inline-block;}
#tuichu{transform:translate(1140px);}
.message{
    width:1190px;
    background-color:#fff;
    margin:0 auto;
    border-collapse:collapse;
}
.message thead tr {
    display:block;
}
.message tbody {
    display: block;
    height: 361px;
    overflow: auto;
}
.message td ,.message th{
    border:1px solid #aaa;
    width:100px;
    text-align: center;
    box-sizing:border-box;
}
.message tbody>tr>td:last-child{
	text-align:left;
}
.message .addrTd{
    width:184px;
}
